---
---
<div
  class="entry"
  {% if entry.projects %}
    data-projects="{{ entry.projects }}"
  {% endif %}
>
  <!-- Title -->
  <div class="title">
    {% if entry.abstract %}
      <span class="abstract-toggle">{{ entry.title }}</span>
    {% elsif entry.url %}
      <a href="{{ entry.url }}">{{ entry.title }}</a>
    {% else %}
      {{ entry.title }}
    {% endif %}
  </div>

  <!-- Year -->
  <div class="year">{{ entry.year }}</div>

  <!-- Author -->
  <div class="author">
    {% assign author_array_size = entry.author_array | size %}
    {% assign author_array_limit = author_array_size %}
    {% if site.max_author_limit and author_array_size > site.max_author_limit %}
      {% assign author_array_limit = site.max_author_limit %}
    {% endif %}

    {%- for author in entry.author_array limit: author_array_limit -%}
      {% assign author_is_self = false %}
      {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
      {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
      {% if site.scholar.last_name contains author_last_name %}
        {% if site.scholar.first_name contains author.first %}
          {% assign author_is_self = true %}
        {% endif %}
      {%- endif -%}

      {%- if forloop.length > 1 -%}
        {% if forloop.first == false %},&nbsp;{% endif %}
        {%- if forloop.last and author_array_limit == author_array_size %}and&nbsp;{% endif -%}
      {% endif %}
      {%- if author_is_self -%}
        <em>
          {{- author.first }}
          {{ author_last_html -}}
        </em>
      {%- else -%}
        {{- author.first }}
        {{ author_last_html -}}
      {%- endif -%}
    {%- endfor -%}
  </div>

  <!-- Periodical -->
  {% if entry.type == 'article' -%}
    {%- if entry.journal -%}
      <div class="periodical">{{ entry.journal }}</div>
    {%- endif -%}
  {% elsif entry.type == 'inproceedings' -%}
    {%- if entry.booktitle -%}
      <div class="periodical">{{ entry.booktitle }}</div>
    {%- endif -%}
  {%- endif %}

  <!-- Abstract (shown on title click) -->
  {% if entry.abstract %}
    <div class="abstract-content">
      {{ entry.abstract }}
    </div>
  {% endif %}

  <!-- Links -->
  <div class="links">
    {% unless entry.doi %}
      {% if entry.url %}
        <a class="btn btn-sm z-depth-0" href="{{ entry.url }}" target="_blank" rel="noopener">Link</a>
      {% endif %}
    {% endunless %}
    {% if entry.pdf %}
      <a class="btn btn-sm z-depth-0 pdf" href="{{ entry.pdf }}">PDF</a>
    {% endif %}
    {% if entry.code %}
      <a class="btn btn-sm z-depth-0 code" href="{{ entry.code }}">Code</a>
    {% endif %}
    {% if entry.doi %}
      <a class="btn btn-sm z-depth-0" href="https://doi.org/{{ entry.doi }}" target="_blank" rel="noopener">DOI</a>
    {% endif %}
  </div>
</div>
